@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero_section{
    background-position: center;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    /* display: flex; */
    height: 70vh;
    color: #fff;
}
.hero_section header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    margin: 10px 35px;
}
.hero_section header .navbar{
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.hero_section header .navbar .nav_links{
    display: flex;
    gap: 25px;
}
.hero_section_content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: calc(70vh - 60px);
}
.hero_section_content .hero_section_logo{
    width: 500px;

}
.hero_section_title {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
} 
.hero_section_inputs{
    background-color: #fff;
    /* max-width: 78px; */
    width: 400px;
    display: flex;
    height: 18px; 
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;

}
.hero_section_inputs input{
    outline: none;
    border: none;
    font-size: 16px;
}
