@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero_section{
    background-position: center;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    /* display: flex; */
    height: 70vh;
    color: #fff;
}
.hero_section header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    margin: 10px 35px;
}
.hero_section header .navbar{
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.hero_section header .navbar .nav_link{
    display: flex;
    gap: 25px;
}
.hero_section_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: calc(70vh - 60px);
}
.hero_section_container .hero_section_logo{
    width: 500px;

}
.hero_section_title {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
} 
.hero_section_inputs{
    background-color: #fff;
    /* max-width: 78px; */
    width: 400px;
    display: flex;
    height: 18px; 
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;

}
.hero_section_inputs input{
    outline: none;
    border: none;
    font-size: 16px;
}
.hero_section_inputs .hero_section_food{
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 60%;
}
.hero_section_inputs .hero_section_food:hover{
    background-color: #ff3b2e;
}
.hero_section_inputs .hero_section_location {
    width: 35%;
    border-radius: 5px solid #221d1d;
}
.user_link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ccc; */
    border: 1px solid white;
    color: black;
    height: 31px;
    width: 32px;
    border-radius: 50%;
    display: none;
}
@media screen and (max-width: 500px) {
    .user_link {
        display: flex;
        padding-left: 19px;
    }
    .hero_section header .navbar .nav_link {
        display: none;
    }
    .hero_section hrader .navbar {
        margin-left: 19;
    }
    .hero_section_container .hero_section_logo {
        width: 240px;
    }
    .hero_section_inputs {
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
        border: none;
    }
    .hero_section_inputs input {
        width: 270px;
        height: 20px;
        border-radius: 5px;
    }
}
.container {
    width: 80%;
    margin: 10px auto;
}
.offers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: #e6e3e3; */
    justify-content: center;
    align-items: center;
}
.offers .card {
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    transition: 300ms;
}
.offers .card:hover {
    scale: 1.05;
}
.offers img {
    height: 180px;
    width: 340px;
    object-fit: cover;
    object-position: center;
}
.collection {
    margin: 10px;
    /* min-width: 280px;
    height: 480px;
    background-color: red; */
}
.collection h1 {
    font-size: 33px;
    font-weight: 450;
}
.collection .sub_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;
}
.collection .sub_title span:nth-child(2) {
    color: rgb(183, 45, 107);
}
.collection .sub_title span:nth-child(1) {
    font-size: 17px;
}
.collection_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.collection_card_container .card {
    height: 300px;
    min-width: 240px;
    position: relative;
    /* background-color:aqua; */
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}
.collection_card_container .card1 {
    background-image: url(./img=1.jpg);
}
.collection_card_container .card2 {
    background-image: url(./p=2.jpg);
}
.collection_card_container .card3 {
    background-image: url(./p=3.webp);
}
.collection_card_container .card4 {
    background-image: url(./p=4.webp);
}
.collection_card_container .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        0deg,
        rgba(0 ,0 ,0 ,0.9) 0%,
        rgba(0 ,0 ,0 ,0.05) 50%,
        rgba(0 ,0 ,0 ,0.05) 85%
    );
}
.collection_card_container .content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding-left: 8px;
}
.collection_card_container .content h4 {
    font-size: 15px;
    font-weight: 400;
}
.get_the_app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f6f6;
    width: 80%;
    margin-top: 30px;
}
.get_the_app .semi_container {
     width: 50%;
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}
.semi_container .left {
    flex: 2;
}
.semi_container .left img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}
.semi_container .right {
    flex: 3;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}
.semi_container .right h1{
    font-weight: 500;
    font-size: 32px;
}
.semi_container .right p{
    font-size: 12px;
}
.semi_container .radio_container{
    display: flex ;
    gap: 20px;
}
